
.Aboutus{
text-align: center;
}
.AboutusInformation{
text-align: center;
}
.AboutusInformation p{ 
margin :30px;
}
/* css for the image */
.AboutusImage img{
text-align: center;
padding-top: 100px;
padding-left: 30px;
height: 500px;
width: 250;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 600px) {
/* css for header to change the font size when the screen in big */
.Nav-Menu{
font-size: 24px;
}

.AboutusInformation p{
margin :50px;
padding-left: 200px;
padding-right: 200px;
font-size: 24px;


}

}
.AboutusInformation{
    background-color: #eee1e1;
    
}
/* adding the logo for the page */
.logoAboutus img{
    height: 200px;
    width: 200px;
    transition:all 2s;
 
}
.logoAboutus{text-align: center;}
 
/* css for the Aboutus */
.subtitle{
color: #865858; font-family:"Dancing Script";
}




