
/* Center website */
.main {
   
    max-width: 1000px;
    margin: auto;

   
  }

  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
    padding-left: 30px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    border-radius: 50%;
    transition:all 2s;

    

   
  }
 .column img:hover{transform:rotate(5deg);border:gray solid 1px;box-sizing: border-box;}
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
 
  
  }
  
  /* Content */
  .content {
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 20%;
    padding: 15px;
   
  }
  .content img{
      border-radius: 50%;
  }
  .content p,h3{
      text-align: center;
      
  }
 

  .content h3{
    color: #865858;
   
    
  }

  .main h2 {
    color: #865858;
    font-family:"Dancing Script";
    text-align: center;
  }
  .main p{
    font-family:"Dancing Script";
    text-align: center;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
    
      width: 70%;
      text-align: center;
      padding-left: 30px;
    }

   
    .row{

padding-left: 75px;
    }
    .Nav-Menu a{

        font-size: 16px;
    }
  }
 