/*Cover Photo/*/

.cover-photo img{
    width: 100%;
}

/*/Homepage Information*/

.homepage-text p {


    font-family:"Dancing Script";
    color: #865858;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
   

}

.homepage-text img {
   
    height: 100px;
    width: 100px;

    margin-bottom: 30px;
}
.homepage-text{
    text-align: center;
    background-color: #f3f1f171   ;
}

article{clear: both;text-align:center;width:100%;margin:0px; padding-left: 15px;padding-right: 30px ;}
.cupcakes-image-homepage{width:30%;float:left;margin:0.3em;transition:all 2s;}

.cupcakes-image-homepage img{width:70%;border-radius: 50%;transition:all 2s;}
.cupcakes-image-homepage img:hover{transform:rotate(15deg);border:gray solid 1px;box-sizing: border-box;}

.inseason{
    font-family:"Dancing Script";
    color: #7a3c3c;
}

