/*font*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
/*Staisf for subtitle*/
body{

padding: 0;
margin: 0;
font-size: 18px;
background-color: #e4c6c6;
background-repeat: no-repeat; /* Do not repeat the image */
font-family: "Raleway";

}

@media screen and (min-width: 400px) {

}